.ContenitorePrincipalePost {
  
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  border-radius: 10px;
  margin:20px 0px 20px 0px;
}


.PostProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  padding: 0px;
}

.post_icons {
  font-size: 20px;
}

.PostButton {
  background: none;
  color: gray;
  font-weight: 450;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  width: 100%;
}

.PostButton:hover {
  color: rgb(169, 169, 169);
  background-color: rgba(211, 211, 211, 0.448);
  border-color: gray;
}
.PostButton:active {
  color: gray;
}

.PostButtons {
  font-weight: 500;
  width:100%;
}
