.fs-7 {
  font-size: 0.9em;
}

.logo {
  filter: invert(22%) sepia(76%) saturate(2644%) hue-rotate(198deg) brightness(96%) contrast(92%);
}

<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
body {
  background-color: #f3f2ef;
=======
.listaNews li {
  list-style-type: disc;
>>>>>>> Stashed changes
}

>>>>>>> Stashed changes
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  nav .container-fluid {
    max-width: 1200px;
  }
}
nav .logo {
  scale: 1.75;
}
nav .search {
  height: 34px;
  border: none;
  background-color: #eef3f8;
}
nav .search:focus {
  background-color: #eef3f8;
}
nav span {
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  nav span {
    display: none;
  }
}
nav .dropdown-menu {
  min-width: 250px;
  font-size: 0.9em;
}
nav .dropdown-toggle::after {
  display: none;
}
nav .profile::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
nav .navIcon,
nav .profile-XS {
  width: 24px;
  height: 24px;
}
nav .profile-SM {
  width: 48px;
  height: 48px;
}
nav .viewProfile {
  width: 90%;
}
@media screen and (max-width: 600px) {
  nav .navIcon {
    width: 20px;
    height: 20px;
  }
  nav .logo {
    scale: 1.5;
  }
}

.container-fluid {
  font-size: 0.85em;
}
@media screen and (min-width: 1200px) {
  .container-fluid {
    max-width: 1200px;
  }
}

.container-fluid .footerIcon {
  margin-right: 0.75em;
  scale: 1.5;
}

.background {
  position: relative;
}

.background .profile_img {
  border: 4px solid white;
  border-radius: 100%;
  position: absolute;
  bottom: -80px;
  left: 20px;
  width: 110px;
}
@media screen and (min-width: 400px) {
  .background .profile_img {
    width: 125px;
  }
}
@media screen and (min-width: 992px) {
  .background .profile_img {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .background .profile_img {
    width: 200px;
  }
}

.pencil-container {
  display: flex;
  justify-content: end;
}

.pencil-container div {
  padding: 6px 10px;
  border-radius: 100%;
}

.pencil-container div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.pencil {
  color: rgb(80, 80, 80);
}

.add-container {
  display: flex;
  justify-content: end;
}

.add-container div {
  padding: 5px 10px;
  border-radius: 50%;
}

.add-container div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-contatto:hover {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.people_img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 997px) {
  .collegati {
    display: none;
  }
}

.ImgProfileCard {
  width: 5rem !important;
  border-radius: 50% !important;
  border: 3px solid !important;
}

.SfondoCardProfilo {
  height: 100px !important;
}/*# sourceMappingURL=app.css.map */