// .ImgProfileCard {
//   width: 5rem !important;
//   border-radius: 50% !important;
//   border: 3px solid !important;
// }
// .SfondoCardProfilo {
//   height: 100px !important;
// }

// CreaUnPost component

.ContenitorePrincipalePost {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px lightgray;
  border-radius: 10px;
}

.PostProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  padding: 0px;
}

.post_icons {
  font-size: 20px;
}

.PostButton {
  background: none;
  color: gray;
  font-weight: 500;
  width: 100%;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  &:hover {
    color: rgb(169, 169, 169);
    background-color: rgba(211, 211, 211, 0.448);
    border-color: gray;
  }
  &:active {
    color: gray;
  }
}

// HomeProfileCard Component

.imgcover {
  width: fit-content;
  padding: 1px;
  border-radius: 10px 10px 0px 0px;
}
.imgprofile {
  width: 70px;
  border: 2px solid white;
  height: 70px;
  border-radius: 100%;
  padding: 0px;
  margin: -35px auto 0;
}

.Contenitore {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  // padding: 0 11px;
}
.TitoloCard {
  margin-top: 20px;
  text-align: center;
  width: bold;
}
.collegamenti {
  col {
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
  }
}
.bold {
  font-weight: bold;
}

// HomeRightCard Component

.listaNews li {
  list-style-type: disc;
}

// PostLinkedin Component

.ContenitorePrincipale {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.PostProfileImg {
  width: 50px;
  height: 50px;
  border: solid 1px lightgrey;
  border-radius: 100%;
}

.PostMainImg {
  height: 270px;
  padding: 0px;
}

.AdvertismentRow {
  background-color: fuchsia;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.PostH1 {
  font-size: medium;
}

.PostH2 {
  font-size: small;
}

.PostH3 {
  font-size: small;
  display: flex;
  align-items: center;
  color: grey;
}

.PostIconsTop {
  padding-left: 20px;
  display: flex;
  justify-content: end;
  gap: 5px;
  color: rgb(96, 95, 95);
}

.PostSingleIcon {
  font-size: 25px;
  &:hover {
    color: grey;
    cursor: pointer;
  }
}

.marginTopMod {
  margin-bottom: 0px;
}

.BottomButtons {
  display: flex;
  justify-content: space-between;
  Button {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: rgb(96, 95, 95);
    font-size: smaller;
    padding: 10px;
    &:hover {
      background-color: rgba(211, 211, 211, 0.595);
      color: rgb(96, 95, 95);
    }
  }
}

.reactionsContainer {
  font-size: 0.8em;
  color: #6c757d;
  .reaction {
    &:nth-child(2),
    &:nth-child(3) {
      background-color: white;
      padding: 1px;
      border-radius: 100%;
      margin-left: -5px;
    }
  }
}
.like {
  background-color: skyblue;
  border-radius: 100%;
  padding: 2px 4px;
  .likeSVG {
    font-size: 8px;
    margin-bottom: 5px;
  }
}
.linkscard p {
  text-align: center;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.linkscard li {
  font-weight: bold;
  color: rgb(77, 114, 181);
  font-size: smaller;
}
.linkscard {
  padding: 0px;
}
.imgbcard {
  margin-top: 10px;
}
.footerlinks {
  margin-top: 10px;
  text-align: center;
  font-size: x-small;
  color: #6c757d;
  font-weight: 500;
}
.footerlinks a {
  margin: 2px;
}
.logoImg img {
  width: 50px;
}
.logoImg p {
  font-size: x-small;
  color: black;
}
.logoImg {
  display: block ruby;
  text-decoration: none;
  text-align: center;
}
