.jobCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  justify-content: center;
}
.divSearch {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2px;
  input {
    height: 2.5rem;
    margin-right: 5px;
    border: 1px solid #0b5ed7;
    border-radius: 25px;
  }
  button {
    border: 1px solid #0b5ed7;
    border-radius: 20px;
  }
}

.jobsCategories {
  margin-top: 80px;
  padding: 5px;
}

.jobsContainer {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.381);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-job {
  border-color: #0b5ed7;
  background-color: #eeecec99;
  cursor: pointer;
}

.card-job:hover {
  border: #0b5ed7 2px solid;
}

h6#jobPublicationDate {
  font-size: 0.8em;
  color: rgb(178, 178, 178);
}
