nav {
  z-index: 10;
  .container-fluid {
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }
  .logo {
    scale: 1.75;
  }

  .search {
    height: 34px;
    border: none;
    background-color: #eef3f8;
    &:focus {
      background-color: #eef3f8;
    }
  }

  span {
    font-size: 12px;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 250px;
    font-size: 0.9em;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .profile::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .navIcon,
  .profile-XS {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  .profile-SM {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  .viewProfile {
    width: 90%;
  }

  @media screen and (max-width: 600px) {
    .navIcon {
      width: 20px;
      height: 20px;
    }
    .logo {
      scale: 1.5;
    }
  }
}

.testing {
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out,
    visibility 0s linear 667ms;
  visibility: hidden;
  form {
    margin: 0 auto;
    width: 100%;
  }
  .form-control {
    border-radius: 5px;
    border: 2px solid orange !important ;
    background-color: #eef3f8;
  }
}

.showSearch {
  // box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out,
    visibility 0s linear 0s;
  visibility: visible;
  @media screen and (max-width: 800px) {
    transform: translateY(65%);
  }
}
