.buttonNetwork {
  width: 90%;
  border: 1px solid blue;
  background-color: white;
  color: blue;
  font-weight: bold;
  border-radius: 100px;
}

.firstCardNetwork {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.secondCardNetwork {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.scrittaNetwork {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 15px;
  border: none;
}
.cardNetwork {
  margin: 10px;
  border-radius: 19px;
  .card-title {
    min-height: 50px;
  }
  .card-text {
    min-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.news {
  ul li {
    gap: 5px;
    display: flex;
  }
  svg {
    margin-top: 3px;
  }
}

.cardNetwork {
  img.card-img-top {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
  }
}
