.background {
  position: relative;
}

.background {
  .profile_img {
    border: 4px solid white;
    border-radius: 100%;
    position: absolute;
    bottom: -80px;
    left: 20px;
    width: 110px;
    aspect-ratio: 1/1;
    object-fit: cover;
    @media screen and (min-width: 400px) {
      width: 125px;
    }
    @media screen and (min-width: 992px) {
      width: 180px;
    }
    @media screen and (min-width: 1200px) {
      width: 200px;
    }
  }
}

.pencil-container {
  display: flex;
  justify-content: end;
}

.pencil-container div {
  padding: 6px 10px;
  border-radius: 100%;
}

.pencil-container div:hover {
  background-color: lightgray;
  cursor: pointer;
}

.pencil {
  color: rgb(80, 80, 80);
}

.add-container {
  display: flex;
  justify-content: end;
}

.add-container div {
  border-radius: 50%;
}

.add-container {
  button {
    padding: 6px 10px;
    border-radius: 100%;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-contatto:hover {
  text-decoration: dotted;
}

.people_img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.experience-img {
  width: 50px;
  height: 50px;
}

.collegati {
  @media screen and (max-width: 997px) {
    display: none;
  }
}

.profSection {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bgImgProf {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.editBtn {
  position: absolute;
  right: 0;
  button {
    padding: 6px 10px;
    border-radius: 100%;
    &:hover {
      background-color: lightgray;
    }
  }
}

.expSection {
  .experience {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border: unset;
    }
  }
}

.person {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border: unset;
  }
}

.pic-SM {
  width: 36px;
  height: 36px;
}

.subNav {
  z-index: 1;
  background-color: white;
  box-shadow: none;
  transform: translateY(-100%);
  transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out,
    visibility 0s linear 667ms;
  visibility: hidden;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.visible {
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.5);
  transform: translateY(59px);
  transition: box-shadow 667ms ease-in-out, transform 667ms ease-in-out,
    visibility 0s linear 0s;
  visibility: visible;
}
